@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #434655;
  
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
  
  --color-surface-tint: #0053db;
  
  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  --color-on-primary-container: #eeefff;
  
  --color-inverse-primary: #b4c5ff;
  
  --color-secondary: #006c49;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #6cf8bb;
  --color-on-secondary-container: #00714d;
  
  --color-tertiary: #784b00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #996100;
  --color-on-tertiary-container: #ffeedd;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b4c5ff;
  --color-on-primary-fixed: #00174b;
  --color-on-primary-fixed-variant: #003ea8;
  
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-secondary-fixed: #002113;
  --color-on-secondary-fixed-variant: #005236;
  
  --color-tertiary-fixed: #ffddb8;
  --color-tertiary-fixed-dim: #ffb95f;
  --color-on-tertiary-fixed: #2a1700;
  --color-on-tertiary-fixed-variant: #653e00;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --text-heading: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-surface text-on-surface font-sans antialiased;
}